# Entorno virtual
venv/

# Python cache
__pycache__/
*.py[cod]

# Archivos temporales
*.log
*.sqlite3

# Configuración de entorno local
.env

# Archivos del sistema o editor
.DS_Store
.idea/
.vscode/
